In [54]:
import pandas as pd
import random

In [55]:
# 100k dataset for train + valid
# 10k for test

In [56]:
columns = ['id','amount_currency','amount_value','channel','deviceDetails_browser',
           'deviceDetails_device','deviceDetails_deviceIp','merchantRefTransactionId','paymentMethod_apmType',
           'paymentMethod_cardNumber','paymentMethod_cardSubType','paymentMethod_cardType','paymentMethod_cvv',
           'paymentMethod_encodedPaymentToken','paymentMethod_expiryMonth','paymentMethod_expiryYear',
           'shopperDetails_address_city','shopperDetails_address_country',
           'shopperDetails_address_state','shopperDetails_email','shopperDetails_firstName','shopperDetails_lastName',
           'shopperDetails_phoneNumber','shopperDetails_shopperKey']

In [57]:
import random
def initial_values(rows):
    amounts = []
    for i in range(rows):
        amounts.append({'id':i, 'amount_value':round(random.uniform(0.00, 100000), 2)})
    return amounts

In [58]:
numbers_of_rows_in_dataset = 100000
data = initial_values(numbers_of_rows_in_dataset)
ml_set = pd.DataFrame(data)

In [59]:
ml_set.shape

(100000, 2)

In [60]:
ml_set

          id  amount_value
0          0      80073.39
1          1      44730.51
2          2       6068.00
3          3      93995.29
4          4      28724.03
...      ...           ...
99995  99995      52993.06
99996  99996       6042.99
99997  99997      48867.94
99998  99998      96421.77
99999  99999      35783.01

[100000 rows x 2 columns]

In [61]:
ml_set['amount_currency'] = 'USD'

In [62]:
def random_channel(row):
    channel = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        channel = 'pos'
    elif 10 < rnd <= 50:
        channel = 'online'
    elif 51 < rnd <= 100:
        channel = 'virtual'
    else:
        channel = 'mobile'
    
    return channel

In [63]:
ml_set['channel'] = ml_set.apply(random_channel, axis = 1)

In [64]:
ml_set.channel.unique()

array(['pos', 'virtual', 'online', 'mobile'], dtype=object)

In [65]:
def deviceDetails_browser(row):
    browser = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        browser = 'mozilla'
    elif 10 < rnd <= 50:
        browser = 'chrome'
    elif 51 < rnd <= 100:
        browser = 'edge'
    else:
        browser = 'chromio'
    
    return browser

In [66]:
ml_set['deviceDetails_browser'] = ml_set.apply(deviceDetails_browser, axis = 1)

In [67]:
def deviceDetails_device(row):
    device = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        device = 'mobile'
    elif 10 < rnd <= 50:
        device = 'pc'
    else:
        device = 'pos'
    
    return device

In [68]:
ml_set['deviceDetails_device'] = ml_set.apply(deviceDetails_device, axis = 1)

In [69]:
import socket
import struct
def deviceDetails_deviceIp(row):
    ip = socket.inet_ntoa(struct.pack('>I', random.randint(1, 0xffffffff)))
    return ip

In [70]:
ml_set['deviceDetails_deviceIp'] = ml_set.apply(deviceDetails_deviceIp, axis = 1)

In [71]:
import string
def merchantRefTransactionId(row):
    letters = string.digits
    return ''.join(random.choice(letters) for i in range(10))

In [72]:
ml_set['merchantRefTransactionId'] = ml_set.apply(merchantRefTransactionId, axis = 1)

In [73]:
def paymentMethod_apmType(row):
    amp = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        amp = 'chip'
    elif 10 < rnd <= 50:
        amp = 'magstripe '
    else:
        amp = 'nfcc'
    
    return amp

In [74]:
ml_set['paymentMethod_apmType'] = ml_set.apply(paymentMethod_apmType, axis = 1)

In [75]:
import string
def paymentMethod_cardNumber(row):
    card_number = ''
    numbers = string.digits
    for part in range(4):
        card_number += ''.join((random.choice(numbers) for i in range(4))) + '-'
    return card_number[:-1]

In [76]:
ml_set['paymentMethod_cardNumber'] = ml_set.apply(paymentMethod_cardNumber, axis = 1)

In [77]:
def paymentMethod_cardType(row):
    card_type = ''
    rnd =  random.randrange(201)
    if  0 < rnd <= 10:
        card_type = 'MasterCard'
    elif 10 < rnd <= 50:
        card_type = 'Visa '
    elif 51 < rnd <= 100:
        card_type = 'Discover '
    elif 101 < rnd <= 200:
        card_type = 'JCB'
    else:
        card_type = 'American Express'
    
    return card_type

In [78]:
ml_set['paymentMethod_cardType'] = ml_set.apply(paymentMethod_cardType, axis = 1)

In [79]:
def paymentMethod_cardSubType(row):
    card_subtype = ''
    rnd =  random.randrange(201)
    if  0 < rnd <= 10:
        card_subtype = 'Secured'
    elif 10 < rnd <= 50:
        card_subtype = 'Prepaid '
    elif 51 < rnd <= 100:
        card_subtype = 'Business '
    elif 101 < rnd <= 200:
        card_subtype = 'Student'
    else:
        card_subtype = 'Generic'
    
    return card_subtype

In [80]:
ml_set['paymentMethod_cardSubType'] = ml_set.apply(paymentMethod_cardSubType, axis = 1)

In [81]:
import string
def paymentMethod_cvv(row):
    numbers = string.digits
    return ''.join((random.choice(numbers) for i in range(3)))

In [82]:
ml_set['paymentMethod_cvv'] = ml_set.apply(paymentMethod_cvv, axis = 1)

In [83]:
def paymentMethod_encodedPaymentToken(row):
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(8))

In [84]:
ml_set['paymentMethod_encodedPaymentToken'] = ml_set.apply(paymentMethod_encodedPaymentToken, axis = 1)

In [85]:
ml_set.head(5)

,id,amount_value,amount_currency,channel,deviceDetails_browser,deviceDetails_device,deviceDetails_deviceIp,merchantRefTransactionId,paymentMethod_apmType,paymentMethod_cardNumber,paymentMethod_cardType,paymentMethod_cardSubType,paymentMethod_cvv,paymentMethod_encodedPaymentToken
0,0,80073.39,USD,pos,chrome,pos,199.177.94.32,9196816658,magstripe,8717-6498-5500-4384,JCB,Student,802,RGNTuKCD
1,1,44730.51,USD,virtual,mozilla,pos,140.130.6.118,2480479816,magstripe,5910-2388-3992-2019,Discover,Prepaid,290,ECEPBpho
2,2,6068.00,USD,virtual,chrome,pos,123.65.222.211,7316485036,nfcc,7491-3848-0599-6446,JCB,Student,298,sKBUDqEt
3,3,93995.29,USD,pos,chrome,pos,53.155.4.150,0666192529,nfcc,8882-7459-8781-3143,MasterCard,Student,915,dLwxtjDg
4,4,28724.03,USD,online,edge,pos,169.106.202.210,3311701970,magstripe,5234-6985-8914-2457,JCB,Student,771,nlxiTCcp

In [86]:
from random import randrange

def paymentMethod_expiryMonth(row):
    return randrange(12)

In [87]:
ml_set['paymentMethod_expiryMonth'] = ml_set.apply(paymentMethod_expiryMonth, axis = 1)

In [88]:
from random import randrange

def paymentMethod_expiryYear(row):
    start_year = randrange(2018,2020)
    return randrange(start_year, start_year + 10)

In [89]:
ml_set['paymentMethod_expiryYear'] = ml_set.apply(paymentMethod_expiryYear, axis = 1)

In [90]:
import datetime

def get_transaction_time(row):
    start_date = datetime.date(2020, 1, 1)
    end_date = datetime. date(2020, 10, 1)
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    
    return start_date + datetime.timedelta(days=random_number_of_days)

In [ ]:
ml_set['transaction_time'] = ml_set.apply(get_transaction_time, axis = 1)

In [ ]:
ml_set['transaction_time']

In [ ]:
def label_transaction(row):
    return  random.randrange(2)

In [ ]:
ml_set['class'] = ml_set.apply(label_transaction, axis = 1)

In [ ]:
ml_set['class'].value_counts()

In [ ]:
ml_set.head(5)
len(ml_set)

In [ ]:
ml_set.to_csv('train.csv', index=False)