In [4]:
import pandas as pd
import random

In [ ]:
# 100k dataset for train + valid
# 10k for test

#TODO: Q: why 101?
#TODO: search for ways to generate synthetic data

In [1]:
columns = ['id','amount_currency','amount_value','channel','deviceDetails_browser',
           'deviceDetails_device','deviceDetails_deviceIp','merchantRefTransactionId','paymentMethod_apmType',
           'paymentMethod_cardNumber','paymentMethod_cardSubType','paymentMethod_cardType','paymentMethod_cvv',
           'paymentMethod_encodedPaymentToken','paymentMethod_expiryMonth','paymentMethod_expiryYear',
           'shopperDetails_address_city','shopperDetails_address_country',
           'shopperDetails_address_state','shopperDetails_email','shopperDetails_firstName','shopperDetails_lastName',
           'shopperDetails_phoneNumber','shopperDetails_shopperKey']

In [2]:
import random
def initial_values(rows):
    amounts = []
    for i in range(rows):
        amounts.append({'id':i, 'amount_value':round(random.uniform(0.00, 100000), 2)})
    return amounts

In [5]:
numbers_of_rows_in_dataset = 100000
data = initial_values(numbers_of_rows_in_dataset)
ml_set = pd.DataFrame(data)

In [6]:
ml_set.shape

(100000, 2)

In [9]:
ml_set

          id  amount_value amount_currency
0          0      32966.94             USD
1          1      77416.80             USD
2          2      10138.06             USD
3          3      51452.41             USD
4          4      30746.08             USD
...      ...           ...             ...
99995  99995      40218.80             USD
99996  99996       2409.28             USD
99997  99997      46027.75             USD
99998  99998      52523.66             USD
99999  99999      48182.70             USD

[100000 rows x 3 columns]

In [8]:
ml_set['amount_currency'] = 'USD'

In [10]:
def random_channel(row):
    channel = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        channel = 'pos'
    elif 10 < rnd <= 50:
        channel = 'online'
    elif 51 < rnd <= 100:
        channel = 'virtual'
    else:
        channel = 'mobile'
    
    return channel

In [11]:
ml_set['channel'] = ml_set.apply(random_channel, axis = 1)

In [12]:
ml_set.channel.unique()

array(['online', 'virtual', 'pos', 'mobile'], dtype=object)

In [13]:
def deviceDetails_browser(row):
    browser = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        browser = 'mozilla'
    elif 10 < rnd <= 50:
        browser = 'chrome'
    elif 51 < rnd <= 100:
        browser = 'edge'
    else:
        browser = 'chromio'
    
    return browser

In [14]:
ml_set['deviceDetails_browser'] = ml_set.apply(deviceDetails_browser, axis = 1)

In [15]:
def deviceDetails_device(row):
    device = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        device = 'mobile'
    elif 10 < rnd <= 50:
        device = 'pc'
    else:
        device = 'pos'
    
    return device

In [16]:
ml_set['deviceDetails_device'] = ml_set.apply(deviceDetails_device, axis = 1)

In [17]:
import socket
import struct
def deviceDetails_deviceIp(row):
    ip = socket.inet_ntoa(struct.pack('>I', random.randint(1, 0xffffffff)))
    return ip

In [18]:
ml_set['deviceDetails_deviceIp'] = ml_set.apply(deviceDetails_deviceIp, axis = 1)

In [19]:
import string
def merchantRefTransactionId(row):
    letters = string.digits
    return ''.join(random.choice(letters) for i in range(10))

In [20]:
ml_set['merchantRefTransactionId'] = ml_set.apply(merchantRefTransactionId, axis = 1)

In [21]:
def paymentMethod_apmType(row):
    amp = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        amp = 'chip'
    elif 10 < rnd <= 50:
        amp = 'magstripe '
    else:
        amp = 'nfcc'
    
    return amp

In [22]:
ml_set['paymentMethod_apmType'] = ml_set.apply(paymentMethod_apmType, axis = 1)

In [23]:
import string
def paymentMethod_cardNumber(row):
    card_number = ''
    numbers = string.digits
    for part in range(4):
        card_number += ''.join((random.choice(numbers) for i in range(4))) + '-'
    return card_number[:-1]

In [24]:
ml_set['paymentMethod_cardNumber'] = ml_set.apply(paymentMethod_cardNumber, axis = 1)

In [25]:
def paymentMethod_cardType(row):
    card_type = ''
    rnd =  random.randrange(201)
    if  0 < rnd <= 10:
        card_type = 'MasterCard'
    elif 10 < rnd <= 50:
        card_type = 'Visa '
    elif 51 < rnd <= 100:
        card_type = 'Discover '
    elif 51 < rnd <= 100:
        card_type = 'JCB'
    else:
        card_type = 'American Express'
    
    return card_type

In [26]:
ml_set['paymentMethod_cardType'] = ml_set.apply(paymentMethod_cardType, axis = 1)

In [27]:
def paymentMethod_cardSubType(row):
    card_subtype = ''
    rnd =  random.randrange(201)
    if  0 < rnd <= 10:
        card_subtype = 'Secured'
    elif 10 < rnd <= 50:
        card_subtype = 'Prepaid '
    elif 51 < rnd <= 100:
        card_subtype = 'Business '
    elif 51 < rnd <= 100:
        card_subtype = 'Student'
    else:
        card_subtype = 'Generic'
    
    return card_subtype

In [28]:
ml_set['paymentMethod_cardSubType'] = ml_set.apply(paymentMethod_cardSubType, axis = 1)

In [29]:
import string
def paymentMethod_cvv(row):
    numbers = string.digits
    return ''.join((random.choice(numbers) for i in range(3)))

In [30]:
ml_set['paymentMethod_cvv'] = ml_set.apply(paymentMethod_cvv, axis = 1)

In [31]:
def paymentMethod_encodedPaymentToken(row):
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(8))

In [32]:
ml_set['paymentMethod_encodedPaymentToken'] = ml_set.apply(paymentMethod_encodedPaymentToken, axis = 1)

In [33]:
ml_set.head(5)

,id,amount_value,amount_currency,channel,deviceDetails_browser,deviceDetails_device,deviceDetails_deviceIp,merchantRefTransactionId,paymentMethod_apmType,paymentMethod_cardNumber,paymentMethod_cardType,paymentMethod_cardSubType,paymentMethod_cvv,paymentMethod_encodedPaymentToken
0,0,59709.74,USD,online,edge,pos,185.217.34.85,2886491310,nfcc,4705-9637-4876-9220,Discover,Business,868,VbqGsfEM
1,1,66158.90,USD,virtual,mozilla,pos,155.150.151.58,2142948276,nfcc,6229-3592-8282-2503,Discover,Generic,089,hBwCWemp
2,2,56267.47,USD,online,edge,pos,1.108.241.44,8346148926,magstripe,4783-4065-0532-9896,Discover,Generic,506,wHbaPyoK
3,3,7807.98,USD,pos,chrome,mobile,194.130.118.167,2230501915,nfcc,5658-1263-1465-3445,American Express,Generic,775,qqasJHss
4,4,46602.08,USD,online,edge,pos,119.122.247.30,2527799581,nfcc,8827-9713-4148-1666,American Express,Business,498,GlevyWaY

In [34]:
from random import randrange

def paymentMethod_expiryMonth(row):
    return randrange(12)

In [35]:
ml_set['paymentMethod_expiryMonth'] = ml_set.apply(paymentMethod_expiryMonth, axis = 1)

In [36]:
from random import randrange

def paymentMethod_expiryYear(row):
    start_year = randrange(2018,2020)
    return randrange(start_year, start_year + 10)

In [37]:
ml_set['paymentMethod_expiryYear'] = ml_set.apply(paymentMethod_expiryYear, axis = 1)

In [38]:
ml_set.head(5)

,id,amount_value,amount_currency,channel,deviceDetails_browser,deviceDetails_device,deviceDetails_deviceIp,merchantRefTransactionId,paymentMethod_apmType,paymentMethod_cardNumber,paymentMethod_cardType,paymentMethod_cardSubType,paymentMethod_cvv,paymentMethod_encodedPaymentToken,paymentMethod_expiryMonth,paymentMethod_expiryYear
0,0,59709.74,USD,online,edge,pos,185.217.34.85,2886491310,nfcc,4705-9637-4876-9220,Discover,Business,868,VbqGsfEM,2,2021
1,1,66158.90,USD,virtual,mozilla,pos,155.150.151.58,2142948276,nfcc,6229-3592-8282-2503,Discover,Generic,089,hBwCWemp,3,2023
2,2,56267.47,USD,online,edge,pos,1.108.241.44,8346148926,magstripe,4783-4065-0532-9896,Discover,Generic,506,wHbaPyoK,10,2025
3,3,7807.98,USD,pos,chrome,mobile,194.130.118.167,2230501915,nfcc,5658-1263-1465-3445,American Express,Generic,775,qqasJHss,10,2018
4,4,46602.08,USD,online,edge,pos,119.122.247.30,2527799581,nfcc,8827-9713-4148-1666,American Express,Business,498,GlevyWaY,11,2019

In [39]:
ml_set.to_csv('ml_datasert.csv')