In [86]:
import pandas as pd
import random

In [87]:
# 100k dataset for train + valid
# 10k for test

In [88]:
columns = ['id','amount_currency','amount_value','channel','deviceDetails_browser',
           'deviceDetails_device','deviceDetails_deviceIp','merchantRefTransactionId','paymentMethod_apmType',
           'paymentMethod_cardNumber','paymentMethod_cardSubType','paymentMethod_cardType','paymentMethod_cvv',
           'paymentMethod_encodedPaymentToken','paymentMethod_expiryMonth','paymentMethod_expiryYear',
           'shopperDetails_address_city','shopperDetails_address_country',
           'shopperDetails_address_state','shopperDetails_email','shopperDetails_firstName','shopperDetails_lastName',
           'shopperDetails_phoneNumber','shopperDetails_shopperKey']

In [89]:
import random
def initial_values(rows):
    amounts = []
    for i in range(rows):
        amounts.append({'id':i, 'amount_value':round(random.uniform(0.00, 100000), 2)})
    return amounts

In [90]:
numbers_of_rows_in_dataset = 10000
data = initial_values(numbers_of_rows_in_dataset)
ml_set = pd.DataFrame(data)

In [91]:
ml_set.shape

(10000, 2)

In [92]:
ml_set

        id  amount_value
0        0      35702.79
1        1      96713.76
2        2      28131.45
3        3      13887.41
4        4      84296.09
...    ...           ...
9995  9995      45038.38
9996  9996      43451.72
9997  9997      92212.92
9998  9998      36044.82
9999  9999      53184.37

[10000 rows x 2 columns]

In [93]:
ml_set['amount_currency'] = 'USD'

In [94]:
def random_channel(row):
    channel = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        channel = 'pos'
    elif 10 < rnd <= 50:
        channel = 'online'
    elif 51 < rnd <= 100:
        channel = 'virtual'
    else:
        channel = 'mobile'
    
    return channel

In [95]:
ml_set['channel'] = ml_set.apply(random_channel, axis = 1)

In [96]:
ml_set.channel.unique()

array(['virtual', 'pos', 'online', 'mobile'], dtype=object)

In [97]:
def deviceDetails_browser(row):
    browser = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        browser = 'mozilla'
    elif 10 < rnd <= 50:
        browser = 'chrome'
    elif 51 < rnd <= 100:
        browser = 'edge'
    else:
        browser = 'chromio'
    
    return browser

In [98]:
ml_set['deviceDetails_browser'] = ml_set.apply(deviceDetails_browser, axis = 1)

In [99]:
def deviceDetails_device(row):
    device = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        device = 'mobile'
    elif 10 < rnd <= 50:
        device = 'pc'
    else:
        device = 'pos'
    
    return device

In [100]:
ml_set['deviceDetails_device'] = ml_set.apply(deviceDetails_device, axis = 1)

In [101]:
import socket
import struct
def deviceDetails_deviceIp(row):
    ip = socket.inet_ntoa(struct.pack('>I', random.randint(1, 0xffffffff)))
    return ip

In [102]:
ml_set['deviceDetails_deviceIp'] = ml_set.apply(deviceDetails_deviceIp, axis = 1)

In [103]:
import string
def merchantRefTransactionId(row):
    letters = string.digits
    return ''.join(random.choice(letters) for i in range(10))

In [104]:
ml_set['merchantRefTransactionId'] = ml_set.apply(merchantRefTransactionId, axis = 1)

In [105]:
def paymentMethod_apmType(row):
    amp = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        amp = 'chip'
    elif 10 < rnd <= 50:
        amp = 'magstripe '
    else:
        amp = 'nfcc'
    
    return amp

In [106]:
ml_set['paymentMethod_apmType'] = ml_set.apply(paymentMethod_apmType, axis = 1)

In [107]:
import string
def paymentMethod_cardNumber(row):
    card_number = ''
    numbers = string.digits
    for part in range(4):
        card_number += ''.join((random.choice(numbers) for i in range(4))) + '-'
    return card_number[:-1]

In [108]:
ml_set['paymentMethod_cardNumber'] = ml_set.apply(paymentMethod_cardNumber, axis = 1)

In [109]:
def paymentMethod_cardType(row):
    card_type = ''
    rnd =  random.randrange(201)
    if  0 < rnd <= 10:
        card_type = 'MasterCard'
    elif 10 < rnd <= 50:
        card_type = 'Visa '
    elif 51 < rnd <= 100:
        card_type = 'Discover '
    elif 101 < rnd <= 200:
        card_type = 'JCB'
    else:
        card_type = 'American Express'
    
    return card_type

In [110]:
ml_set['paymentMethod_cardType'] = ml_set.apply(paymentMethod_cardType, axis = 1)

In [111]:
def paymentMethod_cardSubType(row):
    card_subtype = ''
    rnd =  random.randrange(201)
    if  0 < rnd <= 10:
        card_subtype = 'Secured'
    elif 10 < rnd <= 50:
        card_subtype = 'Prepaid '
    elif 51 < rnd <= 100:
        card_subtype = 'Business '
    elif 101 < rnd <= 200:
        card_subtype = 'Student'
    else:
        card_subtype = 'Generic'
    
    return card_subtype

In [112]:
ml_set['paymentMethod_cardSubType'] = ml_set.apply(paymentMethod_cardSubType, axis = 1)

In [113]:
import string
def paymentMethod_cvv(row):
    numbers = string.digits
    return ''.join((random.choice(numbers) for i in range(3)))

In [114]:
ml_set['paymentMethod_cvv'] = ml_set.apply(paymentMethod_cvv, axis = 1)

In [115]:
def paymentMethod_encodedPaymentToken(row):
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(8))

In [116]:
ml_set['paymentMethod_encodedPaymentToken'] = ml_set.apply(paymentMethod_encodedPaymentToken, axis = 1)

In [117]:
ml_set.head(5)

,id,amount_value,amount_currency,channel,deviceDetails_browser,deviceDetails_device,deviceDetails_deviceIp,merchantRefTransactionId,paymentMethod_apmType,paymentMethod_cardNumber,paymentMethod_cardType,paymentMethod_cardSubType,paymentMethod_cvv,paymentMethod_encodedPaymentToken
0,0,35702.79,USD,virtual,chrome,pc,31.83.217.239,0763440287,magstripe,9294-8725-3326-8751,Discover,Student,428,MLJjmKlv
1,1,96713.76,USD,pos,edge,pc,68.135.38.186,3633992054,nfcc,9973-4085-8529-4670,JCB,Student,334,SzbTizSb
2,2,28131.45,USD,online,edge,pc,181.51.117.44,2702017312,nfcc,4149-0863-0508-3798,JCB,Prepaid,893,NXYLTqFd
3,3,13887.41,USD,online,chrome,mobile,7.207.231.116,9025329095,nfcc,0022-1421-6208-5605,Visa,Prepaid,169,wzoHummd
4,4,84296.09,USD,pos,mozilla,pc,156.222.177.16,7664017928,magstripe,8020-4510-5681-3962,Discover,Student,069,GIbcwOll

In [118]:
from random import randrange

def paymentMethod_expiryMonth(row):
    return randrange(12)

In [119]:
ml_set['paymentMethod_expiryMonth'] = ml_set.apply(paymentMethod_expiryMonth, axis = 1)

In [120]:
from random import randrange

def paymentMethod_expiryYear(row):
    start_year = randrange(2018,2020)
    return randrange(start_year, start_year + 10)

In [121]:
ml_set['paymentMethod_expiryYear'] = ml_set.apply(paymentMethod_expiryYear, axis = 1)

In [122]:
import datetime

def get_transaction_time(row):
    start_date = datetime.date(2020, 1, 1)
    end_date = datetime. date(2020, 10, 1)
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    
    return start_date + datetime.timedelta(days=random_number_of_days)

In [123]:
ml_set['transaction_time'] = ml_set.apply(get_transaction_time, axis = 1)

In [124]:
ml_set['transaction_time']

0       2020-03-14
1       2020-03-01
2       2020-01-07
3       2020-06-01
4       2020-09-07
           ...
9995    2020-08-10
9996    2020-07-01
9997    2020-02-21
9998    2020-07-20
9999    2020-06-01
Name: transaction_time, Length: 10000, dtype: object

In [127]:
ml_set.head(5)
len(ml_set)

10000

In [128]:
ml_set.to_csv('test.csv', index=False)